{% extends 'base.html' %}
{% load core_tags %}
{% load static %}
{% block content %}
<div class="container">
    <div class="card">
        <div class="card-header d-flex justify-content-between">
            <h3>{{ lecture.title }}</h3>

            <form method="POST"> {% csrf_token %}
                {% if user in lecture.lecture_finished.all %}
                <button type="submit" class="btn btn-warning">Unfinished</button>
                {% else %}
                <button type="submit" class="btn btn-primary">Finished</button>
                {% endif %}
            </form>
        </div>
        <div class="card-body">
            <p class="card-text">{{ lecture.description|safe }}</p>
            <div class="d-flex justify-content-center">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/{{ lecture.video|split }}"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        allowfullscreen></iframe>
            </div>
        </div>
        {% if homeworks %}
        <div class="card-footer">
            <h3>Homework</h3>
            {% for homework in homeworks %}
            <div class="border my-3 p-3">
                <h4>{{ homework.description|safe }}</h4>
                {% if user.role.title == "Student" %}
                {% for hw in homework.homeworkstudentdone_set.all %}
                {% if hw.user == user and hw.mark %}
                <mark class="fs-4">{{ hw.mark }}</mark>
                {% endif %}
                {% endfor %}
                <from action="/homework/{{ homework.id}}/pass/" method="post" class="input-group">{% csrf_token %}
                    <input type="text" name="homework" class="form-control" placeholder="Link your repository">
                    <button class="btn btn-primary" type="submit">Pass</button>
                </from>
                {% else %}
                <ul class="list-group">
                    {% for homework1 in homework.homeworkstudentdone_set.all %}
                    {% if homework1.mark == 0 %}
                    <li class="list-group-item fs-4">
                        {{ homework1 }} -> {{ homework1.user_homework }}
                        <form action="/homework/{{homework1.id}}/eval/" method="post">{% csrf_token %}
                            <input type="range" name="mark" class="form-range" min="10" max="100"
                                   id="{{ homework1.id }}" width="60%">

                            <p id="{{ homework1.id }}-value" class="text-center fs-3"></p>
                            <div class="col d-flex justify-content-center">
                                <button class="btn btn-primary" type="submit">Evaluate</button>
                            </div>
                        </form>
                    </li>
                    {% endif %}
                    {% endfor %}
                </ul>
                {% endif %}
            </div>

            {% endfor %}

        </div>
        {% endif %}
    </div>
</div>
{% endblock %}


{% block js %}
<script
        src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
        crossorigin="anonymous"></script>
<script src="{% static 'js/lecture_script.js' %}"></script>
{% endblock %}