{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <ul class="list-group">
                    {% for student in object_list %}
                        <li class="list-group-item d-flex justify-content-between align-items-start">
                            <div class="ms-2 me-auto">
                                <div class="d-flex">
                                    <img width="32" height="32" class="rounded-circle"
                                            {% if student.avatar %}
                                                src="{{ student.avatar.url }}"
                                            {% else %}
                                                src="{% static 'img/avatar.png' %}"
                                            {% endif %}
                                    >
                                        <a class="fw-bold mx-3" href="{{ student.id }}" style="text-decoration: none">
                                            {{ student.first_name }} {{ student.last_name }} - @{{ student.username }}
                                        </a>
                                </div>
                            </div>
                            <span class="badge bg-primary rounded-pill"></span>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}